<h1>Listing ads</h1>

<table>
  <tr>
    <th>Name</th>
    <th>From</th>
    <th>Body</th>
    <th>Word</th>
    <th>Pic</th>
    <th>Width</th>
    <th>Height</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.name %></td>
    <td><%= ad.from %></td>
    <td><%= ad.body %></td>
    <td><%= ad.word %></td>
    <td><%= ad.pic %></td>
    <td><%= ad.width %></td>
    <td><%= ad.height %></td>
    <td><%= ad.published %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
