<div class="depot_form">

  <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag sessions_path do %>
      <fieldset>
        <legend>请登陆</legend>
        <div>
          <label for="name">邮箱:</label>
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div>
          <label for="password">密码:</label>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <div>
          <%= submit_tag "Login" %>
        </div>
      </fieldset>
  <% end %>
</div>


