<div class="span-23">
  <hgroup>
    <label>当前位置： </label>
    <%=	 link_to '首页', root_path %>  >
    用户登录

  </hgroup>
  <hr>
</div>
  <%= form_tag sessions_path do %>
      <fieldset class="round">
        <legend>请登陆</legend>
        <div>
          <label for="name">邮箱:</label>
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div>
          <label for="password">密码:</label>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <div>
          <%= submit_tag "提交" %>
        </div>
      </fieldset>
  <% end %>



