<% content_for :head do %>
    <%= auto_discovery_link_tag	  %>
<% end %>
<div class="span-23">
  <hgroup>
    <label>当前位置： </label>
    <%=	 link_to '娱乐信息', funs_path %>  >
     <% if !@article_category.nil?  %>
        <%= link_to @article_category.name , category_funs_path(@article_category) %>  >
     <% end %>
    <%=	 @tag_name.blank? ? "列表" : @tag_name %>

  <span style="float: right;">
      <label>热门搜索：</label>

  </span>
  </hgroup>
  <hr>
</div>
<div class="span-23">

</div>
<div class="span-19">
    <table>
      <tbody>
<%	 @articles.each do |article| %>

      <tr>
        <td><% if article.category  %>
            <%= link_to '['+article.category.name+'] ', category_articles_path(article.category) %>
            <% end %></td>
        <td><%=link_to article.title, article %></td>
        <td><%= article.created_at.to_s(:short) %></td>
      </tr>

<% end %>
    </tbody>
</table>
<%= will_paginate @articles ,:class => 'digg_pagination' %>
</div>

<div class="span-4 last">
    <ul>
      <li><%= link_to '贴吧热贴' , tieba_path , :target => '_blank'%></li>
      <li><%= link_to '天涯热贴' , tianya_path , :target => '_blank' %></li>
      <li><%= link_to '豆瓣直播' , douban_path , :target => '_blank' %></li>
    </ul>
    <div class="prepend-top">
      <%= render :partial =>'layouts/tagscloud' ,:locals => {:model => "article"}%>
    </div>
</div>
<style type="text/css">
  #menubar a.m_arti{background: #9999ff;    color:#FFF;}
#menubar a.m_funs,a.m_home,a.m_novel,a.m_game,a.m_baidu, a.m_tianya,a.m_le{}
</style>