<div class="infobar border">
    <div class="c_1">
      <div class="c_t1">
         <h2>最新动态</h2>
         <span class="c_m1"><%= link_to '进入' ,forums_path,:target => '_blank'%></span>
       </div>
       <div class="c_c1">
        <ul class="c_u1">
          <% @top_topics.each do |topic| %>
            <li><span class="dian01">·</span>
                <%= link_to topic.name, forum_topic_posts_path(topic.forum_id,topic.id) , :target => "_blank"%>
            </li>
          <% end %>
        </ul>
      </dir>
    </div>
    </div>
</div>
<div class="infobar border">
    <div class="c_1">
       <div class="c_t1">
         <h2>娱乐信息</h2>
         <span class="c_m1"><%= link_to '更多' ,articles_path,:target => '_blank'%></span>
       </div>
       <div class="c_c1">
        <ul class="c_u1">
          <% @top_articles.each do |article| %>
            <li><span class="dian01">·</span>
                <% if article.category  %>
                <%= link_to '['+article.category.name+'] '+article.title, article ,:target => '_blank'%>
                <% else %>
                <%= link_to article.title, article, :target => '_blank' %>
                <% end %>
            </li>
          <% end %>
        </ul>
      </dir>
    </div>
    </div>
</div>

<div class="adbar border">
<%= image_tag "pics/adi.jpg", :width =>680, :height => 60,:border => 0, :alt=>"lehazi.com", :title => "寻找利益与风险的分享者"%>
</div>

<div class="messagebar border">
    <div class="c_2">
      <div class="c_t2">
        <h2>时事笑话</h2>
        <span class="c_m2"><%= link_to '更多'  ,category_funs_path(5),:target => '_blank'%></span>
      </div>
      <div class="c_c2">
        <ul class="c_u2">
            <% @top_funs.each do |fun| %>
            <li><span class="dian01">·</span>
                <%= link_to fun.title, fun ,:target => '_blank'%>
            </li>
            <% end %>
        </ul>
      </div>

    </div>
</div>

<div class="messagebar border">
    <div class="c_2">
      <div class="c_t2">
        <h2>情感趣事</h2>
        <span class="c_m2"><%= link_to '更多' ,category_funs_path(9),:target => '_blank'%></span>
      </div>
      <div class="c_c2">
        <ul class="c_u2">
            <% @top_funs_love.each do |fun| %>
            <li><span class="dian01">·</span>
                <%= link_to fun.title, fun ,:target => '_blank'%>
            </li>
            <% end %>
        </ul>
      </div>

    </div>
</div>


<div class="messagebar border">
    <div class="c_2">
      <div class="c_t2">
        <h2>学生时代</h2>
        <span class="c_m2"><%= link_to '更多' ,category_funs_path(8),:target => '_blank'%></span>
      </div>
      <div class="c_c2">
        <ul class="c_u2">
            <% @top_funs_student.each do |fun| %>
            <li><span class="dian01">·</span>
                <%= link_to fun.title, fun ,:target => '_blank'%>
            </li>
            <% end %>
        </ul>
      </div>

    </div>
</div>
<div class="messagebar border">
    <div class="c_2">
      <div class="c_t2">
        <h2>IT故事</h2>
        <span class="c_m2"><%= link_to '更多' ,category_funs_path(12),:target => '_blank'%></span>
      </div>
      <div class="c_c2">
        <ul class="c_u2">
            <% @top_funs_it.each do |fun| %>
            <li><span class="dian01">·</span>
                <%= link_to fun.title, fun ,:target => '_blank'%>
            </li>
            <% end %>
        </ul>
      </div>

    </div>
</div>

<div class="messagebar border">
    <div class="c_2">
      <div class="c_t2">
        <h2>搞笑网文</h2>
        <span class="c_m2"><%= link_to '更多' ,category_funs_path(6),:target => '_blank'%></span>
      </div>
      <div class="c_c2">
        <ul class="c_u2">
            <% @top_funs_net.each do |fun| %>
            <li><span class="dian01">·</span>
                <%= link_to fun.title, fun ,:target => '_blank'%>
            </li>
            <% end %>
        </ul>
      </div>

    </div>
</div>

<div class="messagebar border round">
    <div class="c_2">
      <div class="c_t2">
        <h2>冷笑话</h2>
        <span class="c_m2"><%= link_to '更多' ,category_funs_path(4),:target => '_blank'%></span>
      </div>
      <div class="c_c2">
        <ul class="c_u2">
            <% @top_funs_cold.each do |fun| %>
            <li><span class="dian01">·</span>
                <%= link_to fun.title, fun ,:target => '_blank'%>
            </li>
            <% end %>
        </ul>
      </div>

    </div>
</div>
<div class="adbar1 border">
  <%= image_tag "pics/adi1.jpg", :width =>680, :height => 120,:border => 0, :alt=>"非官方 ，在野党，全部野史，贻笑大方--邀你加盟", :title => "非官方 ，在野党，全部野史，贻笑大方--邀你加盟"%>
</div>
<style type="text/css">
#menubar a.m_home{background: #9999ff;    color:#FFF;}
#menubar a.m_funs,a.m_arti,a.m_novel,a.m_game,a.m_baidu, a.m_tianya,a.m_le{}


#banner {position:relative; width:680px; height:286px; border:0px ; overflow:hidden;}
#banner_list img {border:0px;}
#banner_bg {position:absolute; bottom:0;background-color:#000;height:30px;filter: Alpha(Opacity=30);opacity:0.3;z-index:1000;
              cursor:pointer; width:478px; }
#banner_info{position:absolute; bottom:0; left:5px;height:22px;color:#fff;z-index:1001;cursor:pointer}
#banner_text {position:absolute;width:120px;z-index:1002; right:3px; bottom:3px;}
#banner ul {position:absolute;list-style-type:none;filter: Alpha(Opacity=80);opacity:0.8; z-index:1002;
            margin:0; padding:0; bottom:3px; right:40px;}
#banner ul li { padding:0px 8px;margin: 2px; float:left;display:block;color:#FFF;background:#6f4f67;cursor:pointer}
#banner ul li.on { background:#900}
#banner_list a{position:absolute;}

#banner_list ul {position:absolute;list-style-type:none;z-index:0;
            margin:0; padding:0;top:0;left:0}
#banner_list ul li {position:absolute; top:0;left:0; margin:0;padding:0px ;z-index: 0;float:left;display:block;color:#FFF;background:#6f4f67;cursor:pointer}
#banner_list ul li a {position:absolute; top:0;left:0; margin:0;padding:0px ;}
#banner_list ul li .txt {position:absolute; left:478px; margin:0;padding:0px ;width: 200px; height: 286px;background-color: #000;}
#banner_list ul li .txt .title{ font-size: 13px;color: yellow; display: block; margin: 10px;}
#banner_list ul li .txt .content{ font-size: 12px; line-height: 24px; color: #FFF; text-indent: 24px;  display: block; margin: 0 10px;}


#banner_list ul li.selected{z-index: 1;}

.dian01{color: #D18CD9;}
.adbar {position:relative; width:680px; height:60px;background-color: #f5deb3; overflow:hidden; }
.adbar1 {position:relative; width:680px; height:120px;background-color: #f5deb3; overflow:hidden; }

.infobar {position:relative;margin-right: 5px; float: left; width:335px; height:286px; border:0px ; overflow:hidden;background-color: #FFFFFF;}
    .infobar .c_1 {display: block;overflow: hidden;margin: 0px 0px 0px;padding: 0px;border: 1px solid #E9EEF1;zoom: 1;height: 276px;    }
        .infobar .c_1 .c_t1{background-color:#E9EEF1; height: 30px;display: block;overflow: hidden;margin: 0px;padding: 0px;    }
        .infobar .c_1 .c_t1 h2 {color:#333;font-size: 14px;font-weight: bold;display: inline;float: left;overflow: hidden;margin: 3px 0px 0px 8px;}
        .infobar .c_1 .c_t1 .c_m1 {width: 38px;height: 28px;display: inline;float: right;margin: 0px;padding: 0px;cursor: pointer;    }
        .infobar .c_1 .c_t1 .c_m1 a{color:#666;font-size: 13px;}
    .infobar .c_1 .c_c1{width: 98%;overflow: hidden;display: block;margin: 0px auto;padding: 0px;zoom: 1;    }
    .infobar .c_1 .c_c1 ul.c_u1{width: 332px;display: block;overflow: hidden;float: right;margin: 8px 0px;padding: 0px;    }
    .infobar .c_1 .c_c1 ul.c_u1 li{width: 100%;display: inline;overflow: hidden;float: left;height: 20px;margin: 0px 4px 0px 2px;
        padding: 2px 0px 3px 0px;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;list-style: none;color: #B21515;    }

.messagebar {position:relative; float:left; margin-right: 5px; width:335px; height:286px; border:0px ; overflow:hidden;background-color: #FFFFFF;}
.messagebar .c_2 {display: block;overflow: hidden;margin: 8px 0px 0px;padding: 0px;border: 1px solid #E9EEF1;zoom: 1;height: 276px;    }
    .messagebar .c_2 .c_t2{background-color:#E9EEF1; height: 30px;display: block;overflow: hidden;margin: 0px;padding: 0px;    }
    .messagebar .c_2 .c_t2 h2 {color:#333;font-size: 14px;font-weight: bold;display: inline;float: left;overflow: hidden;margin: 3px 0px 0px 8px;}
    .messagebar .c_2 .c_t2 .c_m2 {width: 38px;height: 28px;display: inline;float: right;margin: 0px;padding: 0px;cursor: pointer;    }
    .messagebar .c_2 .c_t2 .c_m2 a{color:#666;font-size: 13px;}
.messagebar .c_2 .c_c2{width: 98%;overflow: hidden;display: block;margin: 0px auto;padding: 0px;zoom: 1;    }
    .messagebar .c_2 .c_c2 ul.c_u2{width: 332px;display: block;overflow: hidden;float: right;margin: 8px 0px;padding: 0px;    }
    .messagebar .c_2 .c_c2 ul.c_u2 li{width: 48%;display: inline;overflow: hidden;float: left;height: 20px;margin: 0px 4px 0px 2px;
        padding: 2px 0px 3px 0px;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;list-style: none;color: #B21515;    }

</style>
