<div class=" border">
    <div>
      <div>
         <h4>最新动态</h4>
         <span><%= link_to '进入' ,forums_path,:target => '_blank'%></span>
       </div>
       <div>
        <ul>
          <% @top_topics.each do |topic| %>
            <li>
                <%= link_to topic.name, forum_topic_posts_path(topic.forum,topic.id) , :target => "_blank"%>
            </li>
          <% end %>
        </ul>
      </dir>
    </div>
    </div>
</div>
<div>
    <div>
       <div>
         <h4>娱乐信息</h4>
         <span><%= link_to '更多' ,articles_path,:target => '_blank'%></span>
       </div>
       <div>
        <ul>
          <% @top_articles.each do |article| %>
            <li>
                <% if article.category  %>
                <%= link_to '['+article.category.name+'] '+article.title, article ,:target => '_blank'%>
                <% else %>
                <%= link_to article.title, article, :target => '_blank' %>
                <% end %>
            </li>
          <% end %>
        </ul>
      </dir>
    </div>
    </div>
</div>



<div class="border">
    <div>
      <div>
        <h4>最新笑话</h4>
        <span><%= link_to '更多'  ,category_funs_path(5),:target => '_blank'%></span>
      </div>
      <div>
        <ul>
            <% @top_funs.each do |fun| %>
            <li><span class="dian01">·</span>
                <%= link_to fun.title, fun ,:target => '_blank'%>
            </li>
            <% end %>
        </ul>
      </div>

    </div>
</div>


<div class="adbar1 border">
  <%= image_tag "pics/adi1.jpg", :width =>680, :height => 120,:border => 0, :alt=>"非官方 ，在野党，全部野史，贻笑大方--邀你加盟", :title => "非官方 ，在野党，全部野史，贻笑大方--邀你加盟"%>
</div>

