<div class="span-13 list round">
  <hgroup>
    <span class="right"><%= link_to t('enter'),forums_path, :target => '_blank'%></span>
    <h4>最新帖子</h4>
</hgroup>
<ul>
<% @top_topics.each do |topic| %>
<li>
    <%= link_to topic.name.truncate(36), forum_topic_posts_path(topic.forum,topic.id) , :target => "_blank"%>
</li>
<% end %>
</ul>
</div>

<div class="span-8 list round">
  <hgroup>
    <span class="right"><%= link_to '更多' ,articles_path,:target => '_blank'%></span>
    <h4>娱乐信息</h4>
  </hgroup>
<ul>
<% @top_articles.each do |article| %>
<li>
    <% if article.category  %>
    <%= link_to ('['+article.category.name+'] '+article.title).truncate(25), article ,:title => article.title,  :target => '_blank'%>
    <% else %>
    <%= link_to article.title.truncate(24), article, :title => article.title, :target => '_blank' %>
    <% end %>
</li>
<% end %>
</ul>
</div>
<div class="fixed clearfix"></div>


<div class="span-22 prepend-top list_fun round">
<hgroup>
  <span class="right"><%= link_to '更多'  ,category_funs_path(5),:target => '_blank'%></span>
  <h4>最新笑话</h4>
</hgroup>
    <ul>
        <% @top_funs.each do |fun| %>
        <li><span class="dian01">·</span>
            <%= link_to fun.title, fun ,:target => '_blank'%>
        </li>
        <% end %>
    </ul>

</div>
<div class="fixed clearfix"></div>


