<div class="article">
  <div class="a_title">
<h2><%= @fun.title  %></h2>
  </div>
  <div class="a_attr">
      <% if @fun.category  %>
        分类：<%= link_to @fun.category.name, category_funs_path(@fun.category) %>
      <% end %>
    查看：<%= @fun.click_time %> 发布人：<%=  (@fun.user_id==0) ? "匿名" : @fun.user.login %>
  </div>
  <div class="a_content">
      <div class="a_c">
        <%=	 raw((@fun.body)) %><br />
      </div>
  </div>

  <p><%= link_to '返回' , funs_path %></p>
</div>
<style type="text/css">
#menubar a.m_funs{background: #9999ff;    color:#FFF;}
#menubar a.m_arti,a.m_home,a.m_novel,a.m_game,a.m_zu, a.m_piao,a.m_le{}
</style>

