<div class="span-23">
  <hgroup>
    <label>当前位置： </label>
    <%=	 link_to '幽默短文', funs_path %>  >
    <%= link_to @fun.category.name, category_funs_path(@fun.category) %>  >
    <%=  @fun.title %>

  <span style="float: right;">
  <label>热门搜索：</label>
  <%=	 link_to '班师回京', '#' %>

  </span>
  </hgroup>
  <hr>
</div>
<h4><%= link_to @fun.title ,'', :class => 'title' %></h4>

  <blockquote>
      <% if @fun.category  %>
       <span class="border"> 分类：<%= link_to @fun.category.name, category_funs_path(@fun.category) %></span>
      <% end %>
    <span class="border"> 阅读：<%= @fun.click_time %>  </span>
    <span>来自：<%= @fun.from_url %>    </span>
  </blockquote>

  <article>
     <%=	raw RedCloth.new(@fun.body).to_html%>
  </article>

  <br/>
  <hgroup>
    <span class="border">
      上一篇：<%	 if @fun_p %>
          <%= link_to @fun_p[0].title , fun_path(@fun_p[0].id) %>
          <%	 else %>
          没有了
          <%	 end %>
    </span>
    <span>
          下一篇：<%	 if @fun_n %>
          <%= link_to @fun_n[0].title , fun_path(@fun_n[0].id) %>
          <%	 else %>
          没有了
          <%	 end %>
    </span>
  </hgroup>
<hgroup>
  <%= render :partial =>'layouts/rightads' ,:locals => {:model => "fun_detail_down"}%>
</hgroup>
  <hr>
<div class="fixed"></div>

  <fieldset class="random round">
        <legend>随机推荐</legend>
        <ul>
            <% @relation_funs.each do |fun| %>
            <li>
                <%= link_to fun.title, fun ,:target => '_blank', :title => fun.body.truncate(50)%>
            </li>
            <% end %>
        </ul>
  </fieldset>

<style type="text/css">
#menubar a.m_funs{background: #9999ff;    color:#FFF;}
#menubar a.m_arti,a.m_home,a.m_novel,a.m_game,a.m_baidu, a.m_tianya,a.m_le{}
</style>

