<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<p>
  <b>Created at:</b>
  <%= @tag.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @tag.updated_at %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
