<div class="span-23">
  <hgroup>
    <label>当前位置： </label>
    <%=	 link_to '乐哈社区', forums_path %>  »
    <%= link_to @topic.forum.name , forum_topics_path(@topic.forum_id) %> »
    <%=	 @topic.f_category %>  »
    <%= @topic.name  %>
  </hgroup>
  <hr>
</div>
<div class="span-18">
<h4 class="round2 back" ><%= @topic.name  %></h4>
<!--p>
  <% if is_logged_in? %>
        <%=	 link_to '回帖', new_forum_topic_post_path %>
      <%else %>
  <%= link_to '登陆', login_url	  %>
    <%	 end %>
</p-->
<table>
<thead>
<%= will_paginate @posts ,:class => 'digg_pagination' %>
</thead>
<% @posts.each do |post| %>

  <tr>
    <td class="right">
      <span class="border"> <%= post.updated_at.to_date %></span>
      <span class="border"> <%= post.f_level_num %> 楼</span>
      <% if is_logged_in? and current_user.has_roles?('Moderator') %>
          <small>
            <%= link_to '编辑', edit_forum_topic_post_path(@topic.forum_id,post.topic_id,post.id)%>
            <%=	 link_to '删除',forum_topic_post_path(@topic.forum_id,post.topic_id,post.id), method: :delete ,:confirm => '确定？'  %>
          </small>
       <%end %>
    </td>
  </tr>
  <tr><td class="round"><article> <%= raw RedCloth.new(post.body).to_html  %></article></td></tr>
<% end %>
<tfoot>
<%= will_paginate @posts ,:class => 'digg_pagination' %>
</tfoot>
</table>
</div>
<div class="span-5 side">
    <ul>
      <li>来源：<%= link_to @topic.forum.name, @topic.from_url %></li>
      <li>作者：<%= link_to @topic.user.login , user_path(@topic.user) %></li>
      <li>创建：<%= @topic.updated_at.to_date %></li>
      <li>更新：<%= @topic.updated_at.to_date %></li>
      <li>不完全？<%= link_to '现在更新', '#' %></li>

    </ul>
</div>