<div class="span-23">
  <hgroup>
    <label>当前位置： </label>
    <%=	 link_to '乐哈社区', forums_path %>  »
    <%= link_to @topic.forum.name , forum_topics_path(@topic.forum_id) %> »
    <%=	 @topic.f_category %>  »
    <%= @topic.name  %>
  </hgroup>
  <hr>
</div>
<div class="span-18">
<h4 class="round2 back" ><%= @topic.name  %></h4>

<hgroup>
<%= will_paginate @posts ,:class => 'digg_pagination' %>
</hgroup>
<table>

  <tbody>
<% @posts.each do |post| %>

  <tr>
    <td class="right">
      <span class="border"><%= post.created_at.strftime "%Y-%m-%d %H:%M:%S" %></span>
      <span class="border">(原<%= post.f_level_num %>楼)</span>
      <% if is_logged_in? and current_user.has_roles?('Moderator') %>
          <small>
            <%= link_to '编辑', edit_forum_topic_post_path(@topic.forum_id,post.topic_id,post.id)%>
            <%=	 link_to '删除',forum_topic_post_path(@topic.forum_id,post.topic_id,post.id), method: :delete ,:confirm => '确定？'  %>
          </small>
       <%end %>
    </td>
  </tr>
  <tr><td class="round"><article> <%= raw RedCloth.new(post.body).to_html  %></article></td></tr>
<% end %>
  </tbody>
</table>
<hgroup>
<%= will_paginate @posts ,:class => 'digg_pagination' %>
</hgroup>

</div>
<div class="span-5 side">
    <ul>
      <li>来源：<%= link_to @topic.forum.name, @topic.from_url %></li>
      <li>作者：<%= @topic.f_username %></li>
      <li>创建：<%= @topic.created_at.to_date %></li>
      <li>更新：<%= @topic.updated_at.to_date %></li>
      <li><%= form_for(:post ,:url => forum_topic_posts_path) do |f| %>
         <%= submit_tag '不完全？现在更新' %>
<%	 end %></li>

    </ul>
</div>