<ul id="menubar">
    <li><%=	 link_to '首页',root_path ,:class => 'm_home'%></li>
    <li><%=	 link_to '读笑话',funs_path, :class =>'m_funs'  %></li>
    <li><%=	 link_to '看小说', novels_path , :class => 'm_novel' %></li>
    <li><%=	 link_to '玩游戏',games_path , :class => 'm_game' %></li>
    <li><%=	 link_to '娱乐',articles_path, :class =>'m_arti'  %></li>
    <li><%=	 link_to '贴吧热贴','#' , :class => 'm_baidu' %></li>
    <li><%=	 link_to '天涯热贴','#' , :class => 'm_tianya' %></li>
    <li><%=	 link_to '热区热贴',we_path, :class => 'm_le'  %></li>

</ul>
<div class="fixed"></div>