<ul id="menubar">
    <li class="page_item"><%=	 link_to '首页',root_path ,:class => 'current' %></li>
    <li class="page_item"><%=	 link_to '娱乐幽默','/funs/'  %></li>
    <li class="page_item"><%=	 link_to '小说天地',root_path  %></li>
    <li class="page_item"><%=	 link_to '游戏资讯','/categories/'  %></li>
    <li class="page_item"><%=	 link_to '信息平台','/infos/'  %></li>

</ul>
<div id="subscribe" class="feed">
  <a title="订阅这个网站的文章" class="feedlink" href="http://www.lehazi.com/info/feed"><abbr title="Really Simple Syndication">RSS</abbr>
    订阅</a>
  <ul style="visibility: hidden; display: block; ">
    <li><a rel="external nofollow" title="订阅到鲜果" href="http://www.xianguo.com/subscribe.php?url=http://www.lehazi.com/info/feed">
      鲜果 </a></li>
    <li>
      <a rel="external nofollow" title="订阅到抓虾" href="http://www.zhuaxia.com/add_channel.php?url=http://www.lehazi.com/info/feed">
        抓虾 </a></li>
    <li><a rel="external nofollow" title="订阅到有道" href="http://reader.yodao.com/#url=http://www.lehazi.com/info/feed"> 有道 </a></li>
    <li><a rel="external nofollow" title="订阅到 Google" href="http://fusion.google.com/add?feedurl=http://www.lehazi.com/info/feed">
      Google </a></li>
    <li>
      <a rel="external nofollow" title="订阅到 netvibes" href="http://www.netvibes.com/subscribe.php?url=http://www.lehazi.com/info/feed">
        netvibes </a></li>
    <li>
      <a rel="external nofollow" title="订阅到 newsgator" href="http://www.newsgator.com/ngs/subscriber/subfext.aspx?url=http://www.lehazi.com/info/feed">
        newsgator</a></li>
    <li><a rel="external nofollow" title="订阅到 Bloglines" href="http://www.bloglines.com/sub/http://www.lehazi.com/info/feed">
      Bloglines</a></li>
    <li><a rel="external nofollow" title="订阅到哪吒" href="http://inezha.com/add?url=http://www.lehazi.com/info/feed" class=" last">
      哪吒 </a></li>
  </ul>
</div>
<div class="fixed"></div>

