<% the_cloud = tags_cloud(model) %>
<% unless the_cloud.blank? %>
    <div id="big_tags_cloud">
    <% the_cloud.each do |tag,id,fsize,count| %>
        <span class="t<%= fsize -%>">
        <a title="<%= count %>" alt="<%= count -%>"  class="tag_<%= id %>"
           href="/<%= model.to_s.downcase %>s/tag/<%= id -%>">
            <%= tag %>
        </a>
        </span>
    <% end %>
    </div>
<% end %>