<!DOCTYPE html>
<html>
<head>
  <title>Lehazi</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head	  %>
</head>
<body>
<div id="wrap">
 <div id="container">
   <div id="topbar" class="clearfix">
     <%= render :partial =>'layouts/topbar' %>
   </div>
   <div id="header">
     <%= image_tag 'logo.png',:alt=>"乐哈子" %>
   </div>
   <div id="content">
     <div id='navigation'>
        <%= render :partial =>'layouts/menu' %>
     </div>
     <div id="main">
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div>
         <%	 end %>
         <%	 if flash[:error] -%>
          <div id="error"><%= flash[:error] %></div>
         <%	 end %>

         <%= yield %>
     </div>

     <div id="sidebar">
       <div class="widget popular-posts border">
        <h3>最新更新</h3>
         <ul>
        <li><a href="#">经典又耐人寻味的一组冷笑话 </a></li>
        <li><a href="#">内涵冷段子,看懂不要说 </a></li>
        <li><a href="#">经典又耐人寻味的一组冷笑话3 </a></li>
        <li><a href="#">经典又耐人寻味的一组冷笑话 </a></li>
        <li><a href="#">让人冻手冻脚的冷笑话 </a></li>
        <li><a href="#">内涵冷段子,看懂不要说 </a></li>
        <li><a href="#">经典又耐人寻味的一组冷笑话 </a></li>
        <li><a href="#">经典又耐人寻味的一组冷笑话 </a></li>
        <li><a href="#">让人冻手冻脚的冷笑话 </a></li>
        <li><a href="#">内涵冷段子,看懂不要说 </a></li>


        </ul>
        </div>
        <div class="widget  popular-article border">
        <h3>最受欢迎</h3>
         <ul>
        <li><a href="#">经典又耐人寻味的一组冷笑话 </a></li>
        <li><a href="#">经典又耐人寻味的一组冷笑话 </a></li>
        <li><a href="#">经典又耐人寻味的一组冷笑话 </a></li>
        <li><a href="#">经典又耐人寻味的一组冷笑话 </a></li>
        <li><a href="#">让人冻手冻脚的冷笑话 </a></li>
        <li><a href="#">内涵冷段子,看懂不要说 </a></li>
        <li><a href="#">经典又耐人寻味的一组冷笑话 </a></li>
        <li><a href="#">经典又耐人寻味的一组冷笑话 </a></li>
        <li><a href="#">让人冻手冻脚的冷笑话 </a></li>
        <li><a href="#">内涵冷段子,看懂不要说 </a></li>
        </ul>
        </div>
       <div class="widget  popular-pics border">
        <h3>搞笑图片</h3>
         <ul>
        <li><img src="assets/pics/m41.jpg" alt="四格漫画"/> </li>
        </ul>
        </div>
       <div class="widget  popular-fun border">
        <h3>友情链接</h3>
         <ul>
        <li>小猪对小狗说： 我们比很多人都强！！！</li>
           <li style="text-align: right;">--打一成语 :)</li>
        </ul>
        </div>

     </div>
     <div class="fixed">

     </div>
     <div id="footer">
        <%= render :partial =>'layouts/footer' %>
     </div>
   </div>
 </div>
</div>



</body>
</html>
